@{
    ViewBag.Title = "Home Page";
}

@*<div>
    <h1>Drosero Restro & Cafe</h1>
    <p class="lead">Aphrodisiac of Coffee and Love</p>
</div>*@

<div class="row">
    <div class="col-md-8">
        <span>Our Indulgences</span>
        <div class="w3-content w3-section" style="max-width: 800px">
            <img class="homeFoodSlides" src="~/Content/images/imgCategoryBev1.jpg" style="width: 100%"/>
            <img class="homeFoodSlides" src="~/Content/images/imgCategoryBev2.jpg" style="width: 100%"/>
            <img class="homeFoodSlides" src="~/Content/images/imgCategoryBev3.jpeg" style="width: 100%"/>
            <img class="homeFoodSlides" src="~/Content/images/imgCategoryDesert1.jpeg" style="width: 100%"/>
            <img class="homeFoodSlides" src="~/Content/images/imgCategoryDesert2.jpg" style="width: 100%"/>
            <img class="homeFoodSlides" src="~/Content/images/imgCategoryMainCourse1.jpg" style="width: 100%"/>
            <img class="homeFoodSlides" src="~/Content/images/imgCategoryMainCourse2.jpg" style="width: 100%"/>
            <img class="homeFoodSlides" src="~/Content/images/imgCategoryMainCourse3.jpg" style="width: 100%"/>
            <img class="homeFoodSlides" src="~/Content/images/imgCategoryMainCourse4.jpg" style="width: 100%"/>
        </div>
    </div>
    <div class="col-lg-3">
        <br /><br />
        <div class="row">
            <marquee behavior="scroll" direction="up" style="height:250px" scrollamount="2" >
                <span>
                    Indulge in our Mediterranean cuisine with exotic kebabs and 
                    <br/>aroma of zartar to pamper your royal nerves.
                    <br/>Freshly ground coffee with enriche chocolate mouse will bring
                    <br/>naughtiness in your thoughts.
                </span>
            </marquee>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-5">
        <span>Our Lounge</span>
        <div class="w3-content w3-section" style="max-width: 800px">
            <img class="homeLoungeSlides" src="~/Content/images/imgLounge1.jpg" style="width: 100%" />
            <img class="homeLoungeSlides" src="~/Content/images/imgLounge2.jpg" style="width: 100%" />
            <img class="homeLoungeSlides" src="~/Content/images/imgLounge3.jpg" style="width: 100%" />
            <img class="homeLoungeSlides" src="~/Content/images/imgLounge4.jpg" style="width: 100%" />
        </div>
    </div>
    <div class="col-lg-5">
        <br/><br />
        <div class="row">
            <marquee behavior="scroll" direction="up" style="height:250px;"  scrollamount="2">
                <span>
                    Come and enjoy the wide gamite of functions we offer like
                </span>
                <ul style="list-style: lower-greek">
                    <li>Corporate Events</li>
                    <li>Birthday Party</li>
                    <li>Kitty Party</li>
                    <li>Ring Ceremony</li>
                    <li>Retirement Party</li>
                    <li>Other get-togethers</li>
                </ul>
            </marquee>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Home")